@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border {
	position: relative;
}

.gradient-border:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: linear-gradient(225deg, #df4896 0%, #ee877e 50.91%, #fdc366 100%);
}
